
body {
  background-color: #eeefff;
}
.App {
  text-align: center;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 180px;
}

.App-logo {
  margin-top: 10px;
  font-size: 60px;
}

.App-header {
  background-color: #222444;
  color: white;
  height: 150px;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}
