.SongListItem-song {

  background-color: #444666;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 112px;
  margin: 0 0 24px 0;
  padding: 24px;
  width: 100%;
}

.SongListItem-title {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  padding-bottom: 6px;
}

.SongListItem-subtitle {
  display: flex;
  flex-direction: row;
}

.SongListItem-artist {
  display: flex;
  font-size: 16px;
}

.SongListItem-separator {
  padding-left: 8px;
  padding-right: 8px;
}

.SongListItem-duration {
  display: flex;
}
